body {
    background-image: url("./attachments/background-image.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

input {
    margin: 5px;
}

.App {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 38px;
    margin: 4px;
    color: white;
}

.reminder-form {
    padding: 5px;
}

.list-item  {
    display: inline-block;
}

.delete-button {
  float: right;
  padding-left: 5px;
}

.due-date {
  display: block;
}

.item-name {
  font-size: 17px;
}
